/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include "keymap_italian.h"

// Layer definitions
#define BASE 0
#define NAV 1
#define SYM 2
#define FNC 3
#define VARIES 4
#define BLUETOOTH 5
// -----------------

&sk {
	// don't release mods on other mods presses
	ignore-modifiers;
	release-after-ms = <2000>;
	quick-release;
};


/ {
	behaviors {
		// Enables holding the first mod-tap key
		// by performing a tap-release-hold sequence.
		// To use it: "&qt KEYCODE1 KEYCODE2"
		qt: quick_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <200>;
			bindings = <&kp>, <&kp>;
		};
	};

	macros {
		// sometimes my device thinks a modifier is being held down
		// pressing all modifiers fixes it.
		unstick: unstick {
			label = "ZM_unstick";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
		};
	};

	/*combos {
		compatible = "zmk,combos";
		// both right thumb keys
		combo_accent {
			timeout-ms = <30>;
			key-positions = <32 33>;
			bindings = <&mo ACCENT_SYM2>;
		};
		// internal-left & external-right thumb keys
		combo_sym2 {
			timeout-ms = <30>;
			key-positions = <31 33>;
			bindings = <&mo SYM2>;
		};
		// both left thumb keys
		combo_settings {
			timeout-ms = <30>;
			key-positions = <30 31>;
			bindings = <&mo BLUETOOTH>;
		};
	};*/

	keymap {
		compatible = "zmk,keymap";
		// Base alpha layer
		default_layer {
			label = "Base";
			bindings = <
			&kp B &kp L &kp D &kp C &kp V          				&kp Z &kp Y &kp O   &kp U     &kp SEMI
			&kp N &kp R &kp T &kp S &kp G          				&kp P &kp H &kp A   &kp E     &kp I
			&kp Q &kp X &kp M &kp W &kp J          				&kp K &kp F &kp SQT &kp COMMA &kp DOT
						&mo NAV  &kp LSHIFT          &kp SPACE  &mo SYM
			>;
		};

		nav_layer {
			label = "Nav.";
			bindings = <
			&kp CAPS  &kp LS(TAB)   &none     &kp ENTER   &none  			     	 &kp LC(LS(T)) &kp HOME  &kp UP   &kp END   &kp BSPC
			&sk LCMD  &sk LCTRL 	&sk LALT  &sk LSHIFT  &kp TAB 				     &kp LC(T)     &kp LEFT  &kp DOWN &kp RIGHT &kp LC(BSPC)
			&kp LC(Z) &kp LC(X) 	&kp LC(C) &kp LC(V)   &kp LC(Y)      		     &kp LC(W)     &kp PG_UP &none    &kp PG_DN &kp DEL
								  &trans &mo BLUETOOTH    &trans  &mo FNC
			>;
		};
		
		sym_layer {
			label = "Sym.";
			bindings = <
			&kp ESC   &kp LBRC &kp LBKT &kp LPAR  &kp GRAVE				&kp CARET &kp RPAR   &kp RBKT &kp RBRC  &kp BSPC
			&kp MINUS &kp LT   &kp GT   &kp EQUAL &kp STAR  			&kp HASH  &sk RSHIFT &sk RALT &sk RCTRL &sk RCMD
			&kp PLUS  &kp DLLR &kp BSLH &kp FSLH  &kp PRCNT				&kp AT    &kp QMARK  &kp EXCL &kp AMPS  &kp DEL
							       &mo FNC  &mo VARIES      &trans &trans
			>;
		};

		fnc_layer {
			label = "Fun/Num";
			bindings = <
			&kp N7   &kp N5    &kp N3   &kp N1     &kp N9			&kp N8  &kp N0     &kp N2   &kp N4    &kp N6 
			&sk LCMD &sk LCTRL &sk LALT &sk LSHIFT &kp F11			&kp F10 &sk RSHIFT &sk RALT &sk RCTRL &sk RCMD
			&kp F7   &kp F5    &kp F3   &kp F1     &kp F9			&kp F8  &kp F12    &kp F2   &kp F4    &kp F6
							  	&none &none        &none &none
			>;
		};

		varies_layer {
			label = "Varies";
			bindings = <
			&none &kp PSCRN  &kp C_BRI_DN &kp C_BRI_UP &none		&none &none     &none     &none     &none
			&none &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none		&none &mkp LCLK &kp K_APP &mkp RCLK &none
			&none &none      &none        &none        &none		&none &none     &none     &none     &none
								&none &none          &none &none 
			>;
		};

		bluetooth_layer {
				label = "Bluetooth";
				bindings = <
				&bootloader &none &none &none &none               &none    &none        &bt BT_CLR   &none        &bootloader 
				&none       &none &none &none &none               &none    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none
				&none       &none &none &none &none               &unstick &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5 &none
							    &none &none       &none &none 
				>;
		};
	};
};
